<div class="contact-container" id="contact-section">
    <div class="chip-container">
        <mat-chip>Get in Touch</mat-chip>
    </div>
    <p class="chip-container detail">What's next? Feel free to reach out to me if you are looking for a developer, have a query or simply wants to connect.</p>
    <div class="mail">
        <mat-icon> mail_outline</mat-icon>
        <h2>
            <a href="mailto:bhavya.prakash898&#64;gmail.com">bhavya.prakash898&#64;gmail.com</a>
        </h2>
        <mat-icon class="copy" (click)="copyEmail()" matTooltip="Copy Email">content_copy</mat-icon>
    </div>
    <div class="mail">
        <mat-icon> phone</mat-icon>
        <h2>
            &#43;91 8986903320
        </h2>
        <mat-icon class="copy" (click)="copyPhone()" matTooltip="Copy Email">content_copy</mat-icon>
    </div>
    <p class="chip-container">You can also find me on these platforms!</p>
    <div class="social-icons">
        <!-- GitHub -->
        <a href="https://github.com/bhavyaprakash" target="_blank">
            <img src="assets/img/github.png" alt="GitHub" class="git"> 
        </a>
    
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/bhavya-prakash-55701a1b2/" target="_blank">
            <img src="assets/img/linkedIn.svg" alt="LinkedIn">
        </a>
    </div>
    <hr class="divider">
    <p>Designed by Bhavya Prakash</p>
</div>
