.container {
    display: flex;
    align-items: center;  /* Align text and image in the center */
    justify-content: space-between; /* Push text to left and image to right */
    padding: 2%;
  }
  p {
    font-family: auto;
  }
  .left {
    margin-left: 20%;
  }
  .intro {
    font-size: x-large;
    font-weight: 500;  
    padding-bottom: 5%;
  }

  .name {
    font-size: xxx-large;
    font-weight: 500;
    padding-bottom: 5%;
  }
  
  .des, .loc{
    font-size: large;
  }
  /* Style the location icon */
  mat-icon {
    vertical-align: middle;
    color: #007bff; /* Attractive blue */
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    /* margin-top: 20%; */
  }
  
  .social-icons img {
    width: 35px; /* Adjust size */
    height: 40px;
    transition: transform 0.3s ease-in-out;
  }

  .git{
    width: 40px !important;
  }
  
  .social-icons a:hover img {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  img{
    width: 70%;
  }

  .photo {
    position: relative;
    display: block;
    background: linear-gradient(to right, transparent 93%, grey 80%), linear-gradient(to bottom, transparent 94%, grey 80%);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 5%;
}

button{
  margin-top: 10%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5%;
  }

  .left {
    margin-left: 0;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .photo {
    width: 80%;
    margin-bottom: 20px;
    background: linear-gradient(to right, transparent 94%, grey 80%), linear-gradient(to bottom, transparent 94%, grey 80%), linear-gradient(to left, transparent 94%, grey 80%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 87%;
    padding: 6%;
  }

  button {
    margin-top: 20px;
  }
}
