<div class="container">
    <div class="left">
        <p class="intro">Hi! I'm</p>
        <p class="name">Bhavya Prakash</p>
        <p class="des">Senior Software Engineer</p>
        <p class="loc">
        <mat-icon> location_on</mat-icon> Banglore,  India</p>
        <div class="social-icons">
            <!-- GitHub -->
            <a href="https://github.com/bhavyaprakash" target="_blank">
                <img src="assets/img/github.png" alt="GitHub" class="git"> 
            </a>
        
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/bhavya-prakash-55701a1b2/" target="_blank">
                <img src="assets/img/linkedIn.svg" alt="LinkedIn">
            </a>
        </div>
        
    </div>
    <div>
        <img src="assets/img/IMG_1780-Photoroom.png" alt="My Image" class="photo">
    </div>    
</div>
<app-about></app-about>
<app-skills></app-skills>
