.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between items */
    justify-content: center; /* Center align items */
  }
  
  .skill {
    width: calc((100% / 6) - 20px); /* 6 items per row */
    text-align: center;
  }
  
  .skill img {
    width: 80px; /* Adjust size as needed */
    height: 80px;
    object-fit: contain;
  }
  
  .chip-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin: 2%; /* Add spacing below */
  }

  @media (max-width: 768px) {
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .skill {
      width: calc((100% / 3) - 20px); /* 3 items per row on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .skills-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .skill {
      width: calc((100% / 2) - 20px); /* 2 items per row on very small screens */
    }
  }
  